{% extends "base.html" %}

{% load static %}
#bez tego tagu nie wyświetla image

{% block title %}Welcome{% endblock %}

{% block content %}
    <main>
        {% if user.is_active %}
            <h1>Welcome <span>{{request.user.username}}</span> to the eClinic!</h1>
            <p>This is a website of our clinic. You can book the services which we provide.</p>
            <p>Check the available visits on our page.</p>
            <br>
            <h3>Your visits</h3>
            {% if visits_patient_upcoming.count != 0 %}
                <ul>
                    {% for visit in visits_patient_upcoming %}
                        <li>
                            <a href="{% url 'schedule_details' visit.id %}">{{visit}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no visits currently.</p>
            {% endif %}
        {% else %}
            <h1>Welcome to the eClinic!</h1>
            <p>This is a website of our clinic. Login to book the services which we provide.</p>
            <br>
            <a href="{% url 'doctors' %}"><span style="font-size: 20px">Click here to meet our team!</span></a>
        {% endif %}
    </main>
    <aside>
        {% if user.is_active %}
            <a href="{% url 'calendar' %}">Calendar</a>
        {% endif %}
        <a href="{% url 'doctors' %}">Our team</a>
    </aside>
{% endblock %}