{% extends "base.html" %}

{% load static %}
#bez tego tagu nie wyświetla image

{% block title %}Welcome{% endblock %}

{% block content %}
    <div id="main-content">
        <main id="main">
            {% if user.is_active %}
                <h1>Welcome <span style="color: DarkRed">{{request.user.username}}</span> to the eClinic!</h1>
                <p>
                    This is a website of our clinic. You can book the services which we provide.
                </p>
                <p>
                    Check the available visits on our page.
                </p>
                {% if visits_patient != 0 %}
                    <h2>Your visits</h2>
                    <ul>
                        {% for visit in visits_patient %}
                            <li>
                                <a href="{% url 'schedule_details' visit.id %}">
                                    {{visit}}
                                </a>
                            </li>
                    {% endfor %}
                    </ul>
                {% endif %}

            {% else %}
                <h1>Welcome to the eClinic!</h1>
                <p>
                    This is a website of our clinic. Login to book the services which we provide.
                </p>
                <br>
                <p>
                    <a href="{% url 'doctors' %}">
                        <span style="font-size: 20px">Click here to meet our team!</span>
                    </a>
                </p>
            {% endif %}
        </main>
        {% if user.is_active %}
            <aside id="right-menu">
                <a href="{% url 'doctors' %}">
                    <span style="font-size: 20px; text-transform: uppercase;">Our team</span>
                </a>
                <a href="{% url 'calendar' %}">
                    <span style="font-size: 20px; text-transform: uppercase;">Calendar</span>
                </a>
            </aside>
        {% endif %}
    </div>

{% endblock %}