body {
    font-family: Helvetica, sans-serif;
    color: Black;
    background-color: White;
}

header {
    display: flex;
    background: LightSteelBlue;
    padding: 20px 100px 20px 100px;
}

.logo {
    color: DarkSlateBlue;
    font-size: 50px;
    font-weight: bold;
}

.motto {
    color: White;
    font-style: italic;
    font-size: 20px;
    padding-left: 30px;
}

nav {
    background-image: linear-gradient(90deg, DarkSlateBlue, LightSteelBlue);
    height-min: 50px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: White;
    padding: 10px 100px 10px 100px;
}

nav a:link {
    color: White;
}

nav a:visited {
    color: White;
}

nav a:hover {
    color: White;
    padding-bottom: 3px;
	border-bottom: 2px solid white;
}

nav a:active {
    color: White;
}

main {
    float: right;
    width: 70%;
    padding-top: 20px;
}

a:link {
    text-decoration: none;
    color: Black;
}

a:visited {
    text-decoration: none;
    color: Black;
}

a:hover {
    text-decoration: none;
    color: Black;
    border-bottom: 2px solid Black;
}

a:active {
    text-decoration: none;
    color: Black;
}

aside {
    display: flex;
    background-image: linear-gradient(45deg, LightSteelBlue, White);
    float: left;
    flex-direction: column;
    padding: 30px 100px 30px 100px;
}

aside a:link {
    text-decoration: none;
    color: Black;
    font-size: 20px;
    text-transform: uppercase;
}

aside a:visited {
    text-decoration: none;
    color: Black;
    font-size: 20px;
    text-transform: uppercase;
}

aside a:hover {
    text-decoration: none;
    color: Black;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid Black;
}

aside a:active {
    text-decoration: none;
    color: Black;
    font-size: 20px;
    text-transform: uppercase;
}
