{% extends "base.html" %}

{% block title %}Visits{% endblock %}

{% block content %}
    <main>
        {% if user.is_active %}
            <form method = "GET">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" > {{ message }} </div>
            {% endfor %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Search</button>
            </form>
            <br>
            <h3>Visits</h3>
            {% if queryset.count != 0 %}
                <ul>
                    {% for visit in queryset %}
                        <li>
                            <a href="{% url 'details' visit.id %}">
                                {{visit}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No appointments available. Please change your search criteria or come back to us later.</p>
            {% endif %}
        {% endif %}
    </main>
{% endblock %}
