{% extends "base.html" %}

{% block title %}Visits{% endblock %}

{% block content %}
    <main>
        {% if user.is_active %}
            {% if visits_available_num != 0 %}
                <h3>Visits</h3>
                <ul>
                    {% for visit in visits_available %}
                        <li>
                            <a href="{% url 'details' visit.id %}">
                                {{visit}}
                            </a>
                        </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </main>
    <aside>
        {% if user.is_active %}
            <a href="{% url 'calendar' %}">Calendar</a>
        {% endif %}
        <a href="{% url 'doctors' %}">Our team</a>
    </aside>
{% endblock %}
