{% extends "base.html" %}

{% block title %}Doctors{% endblock %}

{% block content %}
    <main>
        <h3>Our doctors:</h3>
        <ul>
            {% for doctor in doctors %}
                <li>
                    {{doctor}}
                </li>
            {% endfor %}
        </ul>
    </main>
    <aside>
        {% if user.is_active %}
            <a href="{% url 'calendar' %}">Calendar</a>
            <a href="{% url 'doctors' %}">Our team</a>
        {% else %}
            <a href="{% url 'doctors' %}">Our team</a>
        {% endif %}
    </aside>
{% endblock %}