{% extends "base.html" %}

{% block title %}Visits{% endblock %}

{% block content %}
    <main>
        {% if user.is_active %}
            <h2>{{visit.doctor}}</h2>
            <p>
                The visit has been scheduled on {{visit.date}} at {{visit.start_time}} in <strong>{{visit.location}}</strong>
            </p>
            <a class="btn btn-primary" href="{% url 'cancel' visit.id %}">Cancel</a>
        {% else %}
            <p>Login to check the details.</p>
        {% endif %}
    </main>
    <aside>
        {% if user.is_active %}
            <a href="{% url 'calendar' %}">Calendar</a>
            <a href="{% url 'doctors' %}">Our team</a>
        {% else %}
            <a href="{% url 'doctors' %}">Our team</a>
        {% endif %}
    </aside>
{% endblock %}