{% extends "base.html" %}


{% block title %}Create a patient account{% endblock %}

{% block content %}
    <main>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" > {{ message }} </div>
            {% endfor %}
            {{ register_form.as_p }}
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </main>
{% endblock %}