{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'website/favicon.png' %}">
</head>
<body>
    <header>
        <p class="logo">eClinic</p>
        <p class="motto"><br>closer to you<br>&emsp;closer to health</p>
    </header>
    <nav>
        {% if user.is_active %}
            <a href="{% url 'welcome' %}">Home</a> |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'welcome' %}">Home</a> |
            <a href="{% url 'registration' %}">Register</a> |
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <aside>
        <ul class="navbar-nav">
		    {% if user.is_active %}
                <li class="nav-item"><a class="nav-link" href="{% url 'calendar' %}">Calendar</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'history' %}">Visit history</a></li>
                        <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'doctors' %}">Our team</a></li>
        </ul>
    </aside>
</body>
</html>